<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>BUS ALARM</h3>
  <h3>Current Latitude: {{locationTracker.lat}}</h3>
  <h3>Current Longitude: {{locationTracker.lng}}</h3>
  <h3>Current State: {{locationTracker.hi}}</h3>
  <button ion-button full primary (click)="startTracking()">Start Tracking</button>
  <button ion-button full primary (click)="stopTracking()">Stop Tracking</button>
  <ion-list>
    <ion-item>
      <ion-label floating>Bus No.</ion-label>
      <ion-input type="text" [(ngModel)]="busInput"></ion-input>
    </ion-item>
  </ion-list>

  <div *ngIf="bus_services"><h2 *ngFor="let bus of bus_services | filterBy: {ServiceNo:busInput} | uniqFilter">{{bus.ServiceNo}}</h2></div>

</ion-content>
